:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Save {
    background-color: green; /* Change this color to the desired color */
    color: white; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove the button border if desired */
    border-radius: 5px; /* Add rounded corners if desired */
    cursor: pointer; /* Change cursor on hover if desired */
  }
  mat-form-field{
    width: 100%;
  }
  mat-card-actions{
width: 100%;
  }
  mat-card{
    width: 100%;
  }
  button{
    width: 10%;
  }